.button {
  outline: none;
  border: 0;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.primary {
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
}

.ghost {
  color: var(--moderate-blue);
}

.warning {
  color: var(--soft-red);
}
