.textArea {
  border: 1px solid var(--light-gray);
  resize: none;
  width: 100%;
  padding: 16px;
  border-radius: 6px;

  &::placeholder {
    color: var(--grayish-blue);
  }

  &:focus {
    border-color: var(--light-green);
    outline: none;
  }
}
