.commentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 18px;
}

.commentInfos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 80px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -42px;
    width: 2px;
    border-radius: 4px;
    background-color: var(--reddish-brown);
  }
}
